@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #08070D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-amiri: var(--font-amiri);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-amiri), Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  overflow-x: hidden;
}


header.active {
  padding-top: 40px;
  transition: padding-top 0.3s ease;
}

* {
  overscroll-behavior: none;
}



  
  
  html, body {
    overscroll-behavior: none !important;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    touch-action: pan-y;
  }
  
  
  .min-h-screen {
    overflow-x: hidden;
    overscroll-behavior: none;
    position: relative;
  }


